
   <!-- Add your site or application content here -->

<nav class="navbar navbar-default" ng-controller="HeaderCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/#/">
        <image ng-src="images/hobbycooplogo.png" class="navbar-brand logo" alt="Hobby.COOP"></image>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>Category <span class="caret"></span></h4></a>
          <ul class="dropdown-menu">
            <li ng-repeat ="category in categoryList">
              <a ng-click='searchCategory("{{category.name}}")' >
                <h4>{{category.pretty_print_name}}</h4>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- <form class="navbar-form navbar-left" role="search">
        <div ng-controller="SearchCtrl" class='form-group'>
           <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
          </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form> -->
      <div class="nav navbar-form navbar-left main-nav form-group">
         <input text="text" class="form-control main-nav input-lg" ng-model="searchText" auto-complete url ="{{locationURL}}" items-list="autoCompleteList">
         <button type="submit" class="btn btn-default btn-lg" ng-click="searchItem({{searchText}})">Search</button>
       </div>
      <!-- <tags-input ng-model="tags" placeholder="Add a country">
        <auto-complete source="loadItems($query)"></auto-complete>
      </tags-input> -->
      <ul class="nav navbar-nav navbar-right" ng-show="user_id">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>Options<span class="caret"></span></h4></a>
          <ul class="dropdown-menu">
            <li><a href="#/myAccount"><h4>My Account</h4></a></li>
            <li><a href="#/" ng-click="logout()"><h4>Logout</h4></a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="!user_id">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4>Sign In<span class="caret"></span></h4></a>
          <ul class="dropdown-menu">
            <li><a ng-href="#/createAccount"><h4>Sign Up</h4></a></li>
            <li><a href="#/" ng-click="signInModal()"><h4>Sign In</h4></button></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
