<div class="jumbotron">
  <h1>Hobby Cooperative!</h1>
  <p class="lead">
    <!-- <img src="images/logo.jpg" alt="I'm Yeoman"><br> -->
    Share your things! Experience new hobbies!
  <div class="container">
    <image ng-src="images/hobbycooplogo.png" class=".pagination-centered" width=400 alt="Hobby.COOP"></image>
  </div>
</div>

<div class="row marketing">
  <h4>Rent Your Tools &amp; Equipment</h4>
  <p>
    At Hobby Cooperative, our goal is to facilitate the sharing of tools and
     equipment across a community in an attempt to assist those in temporary
     need of such equipment, as well as provide new hobbyists with gainful
     experience dealing with professional equipment. No longer must we spend
     great sums of money. Why not borrow from your neighbor?
  </p>
</div>
